<html>
<head>
<title><%= current_page.data.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="./stylesheets/all.css" />

<script>window.config = <%= settings.config.to_json %></script>
<script src="./javascripts/common.js"></script>
<script src="./javascripts/<%= current_page.data.js %>"></script>

</head>
<body class="<%= current_page.data.body %>">
<%= yield %>
</body>
</html>
